@font-face{
  font-family: Dancing;
  src: url(../fuentes/dancing-script.ttf);
}
html{
  background-color: #02010a;

}
body{
  font-family: Dancing;
  margin: 0 auto;
  text-align: center;
}
.contenido{
  margin: 0 auto;
  width: 900px;
}
header{
  background-color: #5b7989;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 900px;
  display: inline-block;
}
.menu{
  float: right;
}
.titulo > h1{
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  float: left;
}
.menu > nav{
  margin: 5px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
}
.menu nav div{
  padding: 0px 5px;
}
.menu > nav > div > p > a{
  color:white;
}
.index > .menu > nav > div > p > a[id="inicio"]{
  color: white;
  text-decoration: none;
}
.paisajes > .menu > nav > div > p > a[id="paisajes"]{
  color: white;
  text-decoration: none;
}
.retratos > .menu > nav > div > p > a[id="retratos"]{
  color: white;
  text-decoration: none;
}
section{
  margin: 0px;
}
.imagencentral{
  margin-top: -4px;
  margin-bottom: -4px;
  background-color: #82c3a6;
  width: 900px;
}

.imagencentral > img{
  width: 60%;
}
.imagensecundaria{
  background-color: #d5c75f;
  border: 1px solid blue;
}
